.navbar {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border-bottom: 1px solid #e0e0e0; */
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.search {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 1rem;
    width: 250px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.add-button {
    background-color: #355bfb;
    color: white;
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.dark-toggle{
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}